@charset "utf-8";
/* CSS Document */

/* Skip link accesability */
.skip-links {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.skip-links a {
	position:absolute;
	top: -3em;
}

.skip-links a:focus {
	top: 0;
}

.skip-link-details {
	font-size: 16px;
	margin: 0px 0px 0px 20px;
	padding: 5px 5px 5px;
	font-weight: 200;
	background-color: #252831;
	border-radius: 5px;
}

/* Font and background color passed color contrast checker */
body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #333333;
	line-height: 1.5em;
}

body {
	background-color: #F7F9FD;
	margin: 0;
	position:relative;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #333333;
}

a {
	color: #FAA200;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #89BAEB;
	text-decoration: underline;
}

a img {
	border: none 0px #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #252831;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
	border-radius: 5px;
	margin-bottom: 15px;
	font-weight: bold;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
	border-radius: 5px;
}

nav h1 {
  margin: auto;
	padding-top: 20px 0 20px;
}

nav h1 a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 16px 50px 16px;
    list-style: none;
    background-color: #eeeeee;
    font-size: 17px;
    margin: 0;
	  max-width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: #000000;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #012341;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01487e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #cccccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #252831;
  align-items: left;
	padding: 10px 0 10px;
	border-radius: 5px;
	margin: 5px 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
}

.filter-options h2 {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  line-height: 1em;
  margin: 0 10px 5px;
	letter-spacing: 2px;
}

.filter-options-flexbox{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.filter-options select {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  font-family: Arial,sans-serif;
  font-size: 17px;
  height: 35px;
  letter-spacing: 1px;
  margin: 10px;
  padding: 0 10px;
  max-width: 200px;
	border-radius: 10px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#restaurants-list li {
  background-color: #ffffff;
  border: 2px solid #cccccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 300px;
  padding: 25px 0px 25px;
  text-align: center;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#restaurants-list .restaurant-img {
  background-color: #cccccc;
  display: block;
  margin: 0;
	max-width: 100%;
	height: auto;
}

#restaurants-list li h1 {
  color: #804400;
  font-family: Arial,sans-serif;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3em;
  margin: 20px 0 10px;
  text-transform: uppercase;
	font-weight: bold;
}

#restaurants-list p {
  margin: 0;
  font-size: 18px;
	font-weight: bold;
}

#restaurants-list li a {
  background-color: #754C00;
  border-bottom: 3px solid #eeeeee;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  margin: 15px 0 0;
  padding: 10px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	font-weight: bold;
}

#restaurants-list li a:hover {
	color: #ebffeb;
	text-decoration: underline #ebffeb;
}

/* Page Responsiveness */
@media screen  and (max-width: 400px) {
	#map,
	#restaurants-list{
		max-width:100%;
	}
	#restaurants-list li{
		width: 100%;
	}
}

@media screen  and (min-width: 401px) and (max-width: 800px) {
	#map,
	#restaurants-list{
		max-width:100%;
	}
	#restaurants-list li{
		width: 50%;
	}
}

@media screen  and (min-width: 801px) {
	#map,
	#restaurants-list{
		max-width:100%;
	}
	#restaurants-list li{
		width: 33.333333%;
	}
}

/* ====================== Restaurant Details ====================== */
.inside #map-container {
	background: none repeat scroll 0 0;
	height: 300px;
	margin: 0px;
	padding: 20px;
  /*width: 50%;
	position: relative;*/
}

.inside #map {
  background-color: #cccccc;
  height: 100%;
  width: 100%;
}

#restaurant-container {
	width: 100%;
	height: auto;
}

#restaurant-name {
  color: #804400;
  font-family: Arial,sans-serif;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 5px;
  margin: 20px 0 30px;
  text-transform: uppercase;
  line-height: 1.1em;
	text-align: center;
}

#restaurant-img {
	width: 100%;
	height: auto;
	position: relative;
}

#restaurant-cuisine {
  background-color: #333333;
  color: #dddddd;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-address {
  font-size: 20px;
  margin: 10px 0px;
	text-align: center;
}

.restaurant-hours-flexbox{
	display: flex;
	/*flex-direction: row;*/
	justify-content: center;
	align-items: center;
	/*margin-top: 20px;*/
}

#restaurant-hours {
	font-size: 20px;
  margin: 20px 22px;
	/*text-align: left;*/
	width: 100%;
	max-width: 500px;
}

#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #ffffff;
  /*padding: 30px 40px 30px;*/
  width: 90%;
}

#reviews-container {
  padding: 20px 20px 20px;
}

#reviews-container h2 {
  color: #804400;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 5px;
}

#reviews-list li {
  background-color: #ffffff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 10px 0px 20px;
  overflow: hidden;
  padding: 20px 20px 20px;
  position: relative;
  width: 100%;
}

#reviews-list li p {
  margin: 10px 0 10px;
}

#restaurant-hours td {
  color: #1A1A1A;
}
